.sredina {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.naslov {
    font-family: 'Baloo Tammudu 2', cursive;

    margin-top: 50px;
}
body {
    font-family: 'Baloo Tammudu 2', cursive;

}